.landing-container{
  min-height:100vh;

  background: linear-gradient(
    to bottom,
    #fff5f7 0%,
    #f8e8ff 25%,
    #dcd6ff 60%,
    #7b8cff 100%
  );

  color:#101840;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:30px 60px;
}

.navbar h2{
  font-size:42px;
  font-weight:700;
}

.login-btn{
  padding:14px 28px;
  border:none;
  border-radius:18px;
  background:white;
  color:#5b5ce2;
  font-size:18px;
  font-weight:600;
  box-shadow:0 8px 20px rgba(0,0,0,0.08);
}

.hero-section{
  text-align:center;
  padding:100px 20px 70px;
}

.hero-section h1{
  font-size:clamp(50px,7vw,85px);
  line-height:1.1;
  margin-bottom:25px;
}

.hero-section p{
  font-size:28px;
  color:#394169;
  max-width:900px;
  margin:auto;
  line-height:1.6;
}

.hero-btn{
  margin-top:45px;

  padding:18px 45px;

  border:none;
  border-radius:18px;

  background:linear-gradient(
    135deg,
    #9b5cff,
    #d55cff
  );

  color:white;
  font-size:24px;
  font-weight:700;

  box-shadow:0 10px 30px rgba(155,92,255,0.4);
}

.features-section{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

  gap:30px;

  padding:50px 80px 100px;
}

.feature-card{
  background:rgba(255,255,255,0.35);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,0.4);

  border-radius:25px;

  padding:35px;

  min-height:220px;

  box-shadow:0 10px 30px rgba(0,0,0,0.08);

  transition:0.3s;
}

.feature-card:hover{
  transform:translateY(-8px);
}

.feature-card h3{
  color:#131a4d;
  font-size:28px;
  margin-bottom:18px;
}

.feature-card p{
  color:#46507d;
  font-size:18px;
  line-height:1.7;
}
.hero-badge{
  display:inline-block;

  padding:12px 24px;

  background:rgba(255,255,255,0.35);

  backdrop-filter:blur(15px);

  border-radius:30px;

  color:#7a42ff;

  font-weight:600;

  margin-bottom:30px;
}
.stats-section{
  display:flex;
  justify-content:center;
  gap:40px;

  margin-bottom:70px;

  flex-wrap:wrap;
}

.stat-card{
  background:rgba(255,255,255,0.3);

  backdrop-filter:blur(20px);

  padding:25px 45px;

  border-radius:20px;

  text-align:center;

  min-width:180px;
}

.stat-card h2{
  color:#6c4cff;
  font-size:36px;
}

.stat-card p{
  margin-top:8px;
  color:#4c557d;
}
.hero-btn,
.login-btn{
  transition:0.3s ease;
}

.hero-btn:hover,
.login-btn:hover{
  transform:translateY(-4px);
}